@import url(./bootstrap.min.css);
@import url(./custom.css);

html{
  scroll-behavior: smooth;
}
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

section{
  min-height: 100vh;
}

#home{
  min-height: auto;
}